html {
  font-family: Montserrat;
}

body {
  text-align: center;
  color: black;
  background: url(background.jpeg) no-repeat center center fixed;
  background-size: cover;
  width: 65%;
  margin-left: 10%;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 20px;
  color: black;
}

img {
  height: 120px;
}

.push {
  margin: 100px;
}

.contributor {
  color: #FFFFFF;
}

a{
  color: #FFFFFF;
}


#submitButton {
  background-color: white;
  color: black;
  border: 1px solid #ffcc00;
  font-weight: bold;
  font-size: 30px;
}

.correct {
  color:rgb(54, 117, 72)
}
.incorrect {
  color: rgb(98, 8, 21)
}

.u-none {
  display: none;
}
